body {
  margin: 0;
  background-color: #18191a;
  color: white;
}
.headBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: #242526;
  top: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(57 58 59);
  position: fixed;
  z-index: 1;
}
.fbBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  box-sizing: border-box;
  padding-left: 16px;
}
.fbBox > a {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 40px;
  box-sizing: border-box;
  padding: 7px 16px 9px 36px;
  border: 0;
  background-color: #3a3b3c;
  color: #94989b;
  outline: none;
  border-radius: 25px;
  margin-left: 8px;
  font-size: 15px;
  font-weight: 600;
}
.headRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 307px;
  height: 100%;
  box-sizing: border-box;
  padding: 0 16px 0 4px;
}
.headLeft {
  display: flex;
  align-items: center;
  width: 320px;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.HeadCenterBox {
  display: flex;
  height: 100%;
  margin-right: 3%;
  box-sizing: border-box;
}
.searchLogo {
  width: 16px;
  height: 16px;
  position: absolute;
  box-sizing: border-box;
  left: 75px;
}
.searchLogo > img {
  width: 16px;
  height: 16px;
}
.headCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 129.59px;
  height: 100%;
  margin: 0 2px 0 2px;
}
.headCenterhover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 123px;
  height: 90%;
  border-radius: 10px;
  cursor: pointer;
}
.headCenterhover:hover {
  background-color: #3a3b3c;
}
.headCenterImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}

.headCenterImgA > img {
  width: 23px;
  height: 23px;
}
.headerBorder {
  border-bottom: 3px solid rgb(45 136 255);
}

.headPersonalBox {
  display: flex;
  align-items: center;
  width: 95px;
  height: 36px;
  padding: 0 4px;
  box-sizing: border-box;
  border-radius: 25px;
  cursor: pointer;
}
.headPersonalBox:hover {
  background-color: #3a3b3c;
}
.headPersonal {
  border-radius: 15px;
  overflow: hidden;
  width: 28px;
  height: 28px;
}
.headPersonal > img {
  width: 28px;
  height: 28px;
}
.headPersonalText {
  padding-left: 7px;
  font-size: 14px;
  color: rgb(221, 221, 221);
  font-weight: 800;
  box-sizing: border-box;
}
.headRightLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: #3a3b3c;
  cursor: pointer;
}
.headRightLogo > img {
  width: 16px;
  height: 16px;
}
.headRightLogoA > img {
  width: 17px;
  height: 17px;
  box-sizing: border-box;
  margin-top: 5px;
}
.headRightLogo:hover {
  background-color: #505152;
}
.headBoxRWD {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background-color: rgb(59 89 152);
  box-sizing: border-box;
  padding: 0 4px;
}
.headBoxRWDText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73%;
  height: 60%;
  margin-bottom: 5px;
  border-bottom: 1px solid #ababab;
  font-size: 14px;
  color: #ababab;
}
.headBoxRWDText > img {
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  margin-right: 8px;
}
.headBoxRWDImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0 2px;
}
.headBoxRWDImg > img {
  width: 20px;
  height: 20px;
}
.RWD {
  display: none;
}
.headBoxRWDBottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background-color: black;
}
.headBoxRWDBottomImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.6%;
  height: 100%;
}
.headBoxRWDBottomImg > img {
  width: 20px;
  height: 20px;
}
@media only screen and (min-width: 1024px) and (max-width: 1260px) {
  .headPersonalBox {
    display: none;
  }
  .search {
    width: 40px;
    height: 40px;
    padding: 0px 0px 0px 39px;
    color: #94989b;
    outline: none;
    border-radius: 25px;
    margin-left: 8px;
  }
}

@media screen and (max-width: 1024px) {
  .headBox {
    display: none;
  }
  .RWD {
    display: block;
  }
}
